<h1>All Users</h1>


<% provide(:title, 'All users') %>


<ul class="users">
  <% @users.each do |user| %>
    <li>

    <a href="/users/<%= user.id %>"> <%= user.email %> </a>
    <%= image_tag user.profile_picture.thumbnail.url %>
    </li>
  <% end %>
</ul>



