


<div class="homepage container">
<div class="jumbotron col-xs-6 col-xs-offset-3">

  <h3>The</h3>
  <h1>Quote</h1>
  <h2>Book</h2>

</div>

</div>

<h5>Quote of the day</h5>


<% if @rand_record %>
 <div class="quote-of-the-day">
   <p><%= @rand_record.body %></p>
   <%= image_tag @rand_record.culprit.profile_picture.url %>  
 </div>
 <% end %>
  </div>

