/* @import 'Materialize/bin/materialize.css'; */

body {

  /*background-image: url(http://i.imgur.com/JhBnQpR.jpg); 
   background-size: cover;
   background-repeat: no-repeat;
 */

  background:lightblue;
  /*background image: url(http://i.imgur.com/"dc79ymv.png");*/

}

label { 
  display: block; width: 400px; 
  }



  .describe {
                width: 1000px;

              }